During FreeSWITCH shutdown, 410 responses prevent some client to retry requests

I noticed that during FreeSWITCH shutdown, some requests (both INVITEs and REGISTERs) are answered with a "410 Gone" response.
I tried to search in the code, getting to this part:

https://github.com/freeswitch/sofia-sip/blob/4c5a0e77658f11124b4fedf3502328c15cdfa284/libsofia-sip-ua/nua/nua_dialog.c#L651

I am facing some issues with some SIP endpoints that read the "410 Gone" (they get as a REGISTER response) as a user problem and specifically a user "permanent" problem.
**So they stop sending out REGISTERs, and they don't register themselves anymore even if the server is up again.**

RFC3161, §21.4.10
```
   The requested resource is no longer available at the server and no
   forwarding address is known.  This condition is expected to be
   considered permanent.  If the server does not know, or has no
   facility to determine, whether or not the condition is permanent, the
   status code 404 (Not Found) SHOULD be used instead.
```

In a case where the pending requests are dropped (due to a shutdown of the sip stack)... would not be better to "signal" this to the endpoints as a server "problem" then with a 5xx-6xx response?

Thanks.

