A hash (#) in a SIP URI is not escaped

When e.g. a REGISTER is sent with a SIP-URI containing a hash (e.g. #9@mydomain.com), the # is not escaped to %23 which should be executed by the SIP stack as a hash is an invalid character here.
(According RFC 3261 section 19.1.2 a hash must  be escaped)

It seems illogical to have the application using the SIP stack needs to convert the # to %23.

With regards
Roger Timmerman
